body{
background: #7FDBFF;
}
input, select, .description {
  width: 98%;
	padding: 12px 50px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c6c6ec;
	border-radius: 4px;
	box-sizing: border-box;
  background: #0074D9;
color:white;
font-size: 20;
}
.head{
text-align: center;
background: #001f3f;j
}
.enjoy{
text-align: center;
  background: #2ECC40;
}
.request{
padding: 12px 12px;
width: 31.5%;
	margin: 8px 8px;
min-width: 360px;
}
.request:hover{
  background: #2ECC40;
  cursor: pointer;
}

#checkIn{
	width: 15.5%;
min-width: 135px;
	padding: 13px 0px 13px 50px;
background: #0074D9  url(../images/in.png) no-repeat scroll 4px 7px;
background-size: 40px 40px;
}

#checkOut{
	width: 15.5%;
min-width: 155px;
	padding: 13px 0px 13px 50px;
background: #0074D9  url(../images/out.png) no-repeat scroll 4px 7px;
background-size: 40px 40px;
}

option {
color: white;
font-size: 20px;
font-family: Arial;
background:#2ECC40;
}
.month {
width: 15%;
min-width: 130px;
	padding: 12px 10px;
}
.year {
width: 10%;
min-width: 90px;
	padding: 12px 10px;
}
.day {
width: 7.5%;
min-width: 65px;
	padding: 13px 10px;
}
.quality {
width: 49%;
background: #0074D9  url(../images/money.png) no-repeat scroll -18px 3px;
background-size: 300px 300px;
}
.quantity {
width: 49%;
background: #0074D9  url(../images/people.png) no-repeat scroll 0px 5px;
background-size: 50px 50px;
}
input[type=submit]{
	width: 98%;
	background-color: #001f3f;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
font-size: 20px;
}

input[type=submit]:hover {
	background-color:#0074D9 ;
}
